@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lato&family=Shrikhand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
        .header-text-shadow {
          text-shadow:  2px 2px rgba(252, 64, 40, 0.3);;
        }
    } 
}


@keyframes backgroundFade {
  0%, 100% {
    background-image: url('/margarita-ghibli.png');
  }
  50% {
    background-image: url('/margarita.jpeg');
  }
}

.animate-background-fade {
  animation: backgroundFade 20s ease-in-out infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}